<!DOCTYPE html>
<html>
    <div>
        <a href="/home">Home</a>
        <a href="/control_panel">Control Panel</a>
    </div>

    <div id="streamer">
        <button id="stream">Stream</button>
        <button id="stop">Stop</button>
        <script type="text/javascript" src="{{ url_for('static',      filename='controller.js') }}"></script>
    </div>

    <!--
    <form action="/stream" method="get">
        <button>Start Stream</button>
    </form>

    <form action="/stop_stream" method="get">
        <button>Stop Stream</button>
    </form>
    -->

    <form action="/shutdown" method="get">
        <button>shutdown</button>
    </form>
    <form action="/relay1" method="get">
        <button id="relay1">Relay1</button>
    </form>
    <form action="/relay2" method="get">
        <button>Relay2</button>
    </form>
    <form action="/relay3" method="get">
        <button>Relay3</button>
    </form>
    <form action="/relay4" method="get">
        <button>Relay4</button>
    </form>
    {{stream}}
    {{status}}
    {{gps}}

    {{ table }}

    <script>
        if ('{{ status[3] }}' == 1)
            document.getElementById("relay1").innerHTML="Relay1 On";
        else if ('{{ status[3] }}' == 0)
            document.getElementById("relay1").innerHTML="relay1 Off";
    </script>
    
    <!-- refreshing page-->
    <!--
    <meta http-equiv="refresh" content="5" >
</html>
