<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <div>
        <a href="/home">Home</a>
        <a href="/control_panel">Control Panel</a>
    </div>

    <body>
        <h1>Home</h1>
        <div id="recorder">
            <button id="record">Record</button>
            <button id="stop">Stop</button>
            <a id="download"></a>
            <script type="text/javascript" src="{{ url_for('static', filename='recorder.js') }}"></script>
        </div>
        <img id="video" src="{{ url_for('video_viewer') }}">
        <form action="/load_video" method="post" enctype=multipart/form-data>
            <button type="file" >load video </button>
        </form>
        <form action="{{ url_for('loadVideo') }}" method="POST">
        <select name="videos">
            {% for fileName in fileNames %}
            <option value="{{fileName}}">{{fileName}}</option>
            {% endfor %}
        </select>
        <button type='submit'>Load</button>
        </form>
    </body>
</html>
