<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
<style>
body {
      background-color: rgb(78,50,72);
}
div {
  color:white;
}
</style>
</head>
<h1>
    <span style="color:red">MISSION</span><span style="color:white"> BOX</span>
</h1>
<div>
<h4>VIDEO PLAY BACK</h4>
</div>
<div>
<input type="file" accept="video/*"/>
</div>
<video width="672" height="378" controls autoplay></video>
<script>
  (function localFileVideoPlayer() {
  var URL = window.URL || window.webkitURL
  var playSelectedFile = function (event) {
    var file = this.files[0]
    var type = file.type
    var videoNode = document.querySelector('video')
    var canPlay = videoNode.canPlayType(type)

    var fileURL = URL.createObjectURL(file)
    videoNode.src = fileURL
  }
  var inputNode = document.querySelector('input')
  inputNode.addEventListener('change', playSelectedFile, false)
})()
</script>
